*~
.*.swp
.DS_Store

/archive

publications/publications.html
publications/pub-content-numbered.t2t
pages/*.html
cv/cv-web.html
cv/cv.pdf
cv/cv.tex
cv/tex/*.aux
cv/tex/*.fdb_latexmk
cv/tex/*.log
cv/tex/*.out
img/*.tex
