*~
.*.swp

publications/publications.php
publications/pub-content-numbered.t2t
pages/*.php
cv/cv-web.php
cv/cv.pdf
cv/cv.tex
cv/tex/*.aux
cv/tex/*.fdb_latexmk
cv/tex/*.log
cv/tex/*.out
cv/tex/*.pdf
img/*.tex
img/email.png
